
@keyframes fadeIn-rope {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.display {
    visibility: visible;
}

.hide {
    visibility: hidden;
}


body {
    background-color: rgb(243, 243, 243);
}

header {
    text-align: center;
}

.reset-buttons {
    animation: fadeIn 1s;
}

.fade-in {
    animation: fadeIn 1s;
}

.fade-in-letters {
    animation: fadeIn 3s;
}

.fade-in-rope {
    animation: fadeIn-rope 1s;
}

.title-img {
    height: 300px;
}

.center {
    margin: auto;
    text-align: center;
}

.thebutton {
    text-align: center;
    margin: 0 auto;
}

.header {
    transition: width 2s;
}

.low-guesses {
    color: darkred;
}

.letters {
    transition: transform .2s;
    margin: 3px;
    width: 45px;
    height: 35px;
}

.letters:hover {
    transform: scale(1.1);
}


#title {
    text-align: center;
}

#underscore {
    padding: 50px;
    text-align: center;
}

#win {
    color: green;
    opacity: 100;
    -webkit-transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
}

#lose {
    color: red;
}

#invalid-letter {
    color: darkred;
}

#play-again-div {
    padding: 20px;
}

#play-again-btn {
    transition: transform .2s;
}

#play-again-btn:hover {
    transform: scale(1.1);
}
